@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;800&family=Raleway:wght@400;700&display=swap');

// Fonts
$heading-reg-font:  normal 400 1.8rem 'Frank Ruhl Libre', serif;
$heading-bold-font:  normal 700 2.6rem 'Frank Ruhl Libre', serif;
$heading-xbold-font: normal 800 2.2rem 'Frank Ruhl Libre', serif;
$body-reg-font:  normal 400 1.2rem 'Raleway', serif;
$body-bold-font: normal 700 1.2rem 'Raleway', serif;

$logo-kerning: 0.1rem;
$heading-kerning: 0.1rem;

// General
$padding-horiz: 48px;
$padding-vert:  24px;
$max-section-width: 1440px;
$max-description-width: calc(100vw * 0.33);
$max-content-width: calc(100vw * 0.4);

$full-height: calc((var(--vh, 1vh) * 100));

// Spacing
$main-margin-left: clamp(3rem, 5vw, 5rem);
$main-margin-between: 20px;
$content-margin-left: clamp(2rem, 3vw, 3rem);

$colors: (
  'black': #191919,
  'white': #f8f8f8,
  'yellow': #fec600,
  'teal': #718f94,
  'faded-black': #1919194D,
);

// Misc
$bezier: cubic-bezier(0, 0.5, 0, 1);
$blur:0px;

$padding-horiz-countor: calc(#{$padding-horiz + 2px});
$padding-vert-countor: calc(#{$padding-vert + 2px});
$padding-horiz-countor-ext: calc(100vw - #{$padding-horiz-countor});
$padding-vert-countor-ext: calc(100vh - #{$padding-vert-countor});

$padding-horiz-ext: calc(100vw - #{$padding-horiz});
$padding-vert-ext: calc(100vh - #{$padding-vert});

$points-outer: (0 0, 0 100vh, 100vw 100vh, 100vw 0, 0 0);
$points-border-outer: (
  $padding-horiz $padding-vert,
  $padding-horiz $padding-vert-ext,
  $padding-horiz-ext $padding-vert-ext,
  $padding-horiz-ext $padding-vert,
  $padding-horiz $padding-vert,
);
$points-inner: (
  $padding-horiz-countor $padding-vert-countor,
  $padding-horiz-countor-ext $padding-vert-countor,
  $padding-horiz-countor-ext $padding-vert-countor-ext,
  $padding-horiz-countor $padding-vert-countor-ext,
  $padding-horiz-countor $padding-vert-countor,
);

// Export colors to JS
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }

  /* stylelint-disable-next-line property-no-unknown */
  marginLeft: calc(#{$main-margin-left} + 5px);

  /* stylelint-disable-next-line property-no-unknown */
  marginUpTo: calc(-1 * (#{$content-margin-left} + 5px) / 2);
}
