@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;700;800&family=Raleway:wght@400;700&display=swap');

// Fonts
$heading-font:  normal 400 2.4em 'Frank Ruhl Libre', serif;
$heading-bold-font:  normal 700 2.6em 'Frank Ruhl Libre', serif;
$heading-xbold-font: normal 800 2.2em 'Frank Ruhl Libre', serif;
$body-reg-font:  normal 400 1.2em 'Raleway', serif;
$body-bold-font: normal 700 1.4em 'Raleway', serif;

$logo-kerning: 0.1rem;
$heading-kerning: 0.1rem;

// General
$padding-horiz: 64px;
$padding-horiz-mobile: 24px;
$padding-vert:  48px;
$padding-vert-mobile: 32px;
$max-section-width: 1440px;

$colors: (
  'black': #191919,
  'white': #f8f8f8,
  'yellow': #fec600,
  'teal': #718f94,
);

// Export colors to JS
:export {
  @each $key, $value in $colors {
    #{unquote($key)}: $value;
  }
}