@import 'variables';

.white {
  color: map-get($colors, 'white') !important;
}

.period {
  color: map-get($colors, 'yellow');
}

.content-container {
  display: flex;
  align-items: center;
}

// Contents Hero
.contents-hero {
  height: 100%;
  width: calc(100vw * .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents-heading, .contents-description {
  font: $heading-bold-font;
  margin-left: $main-margin-left;
  color: inherit;
  opacity: 0;
}

.contents-heading {
  max-width: $max-description-width;
}

.contents-description {
  max-width: calc(#{$max-description-width} * .8);
  font-size: 1.2rem;
}

// Content Details
.contents-details {
  height: 100%;
  max-width: $max-description-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details {
  margin-top: $main-margin-between;
  margin-left: $content-margin-left;
  width: $max-content-width;
  opacity: 0;
}

// Text Block Text List
.text-block, .text-list {
  display: flex;
  flex-direction: column;
}

.text-list-heading {
  font: $body-bold-font;
}

.text-list-contents {
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 0 0 100%;
  }
}

.split {
  div {
    flex: 0 0 50%;
  }
}

// Links
.links-container {
  display: grid;
  grid-auto-flow: column;
}

.svg-link {
  width: 32px;
  height: 32px;
}

.link {
  a.text {
    position: relative;

    &:before, &:after {
      z-index: -1;
      content: "";
      position: absolute;
      top: .5rem;
      bottom: .5rem;
      right: -10px;
      left: -10px;
      transition: top .4s, bottom .4s;
    }

    &:before {
      border-right: .25rem solid map-get($colors, 'yellow');
      border-bottom: .25rem solid map-get($colors, 'yellow');
    }
  
    &:after {
      border-top: .25rem solid map-get($colors, 'yellow');
      border-left: .25rem solid map-get($colors, 'yellow');
    }

    &:hover:before, &:hover:after {
      bottom: -5px;
      top: -5px;
    }
  }
}

// Image
.image {
  width: 250px;
  height: 300px;
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .content-container {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
    width: calc(100vw - 64px) !important;
  }

  .contents-hero {
    height: auto;
    width: 100vw;
  }

  .contents-heading, .contents-description {
    margin-left: 32px;
  }

  .contents-heading {
    margin-top: 40px;
    max-width: none;
  }

  .contents-description {
    max-width: calc(100vw - 64px);
    &:last-child {
      margin-bottom: 20px;
    }
  }
  
  .contents-details {
    max-width: none;
    padding-bottom: 50px;
    width: 100vw;
  }

  .details {
    margin-left: 32px;
    width: calc(100vw - 64px);
  }

  .image {
    width: 165.4px;
    height: 200px;
  }

  .link {
    margin-top: 5px !important;
  }

  .svg-link {
    width: 24px;
    height: 24px;
  }
}
