@import 'variables';

.white {
  color: map-get($colors, 'white') !important;
}

.period {
  color: map-get($colors, 'yellow');
}

.content-container {
  display: flex;
  align-items: center;
}

// Contents Hero
.contents-hero {
  height: 100%;
  width: calc(100vw * .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents-heading, .contents-description {
  font: $heading-bold-font;
  color: inherit;
  opacity: 0;
}

.contents-heading {
  max-width: $max-description-width;
}

.contents-description {
  max-width: calc(#{$max-description-width} * .8);
  font-size: 1.2em;
}

// Content Details
.contents-details {
  height: 100%;
  max-width: $max-description-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details {
  margin-top: $main-margin-between;
  margin-left: $content-margin-left;
  width: $max-content-width;
  opacity: 0;
}

// Text Block Text List
.text-block, .text-list {
  display: flex;
  flex-direction: column;
}

.text-list-heading {
  font: $body-bold-font;
}

.text-list-contents {
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 0 0 100%;
  }
}

.split {
  div {
    flex: 0 0 50%;
  }
}

// Links
.links-container {
  display: grid;
  grid-auto-flow: column;
}

.svg-link {
  width: 32px;
  height: 32px;
}

.link {
  a.text {
    color: inherit;
    position: relative;
    text-decoration: none;
  }
  
  a.text:hover {
    right: 0;
    text-decoration: none;
  }
  
  a.text:after {
    border-radius: 1em;
    border-top: .1em solid;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .05em;
    left: 0;
    transition: right .4s $bezier;
  }

  a.text:hover:after {
    right: 0;
  }
}

// Image
.image {
  width: 250px;
  height: 300px;
  opacity: 0;
}
