@import 'variables';

.white {
  color: map-get($colors, 'white') !important;
}

.content-container {
  display: flex;
  align-items: center;
}

.contents-hero {
  height: 100%;
  width: calc(100vw * .4);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contents-heading, .contents-description {
  font: $heading-bold-font;
  color: inherit;
  opacity: 0;
}

.contents-heading {
  max-width: $max-description-width;
}

.contents-description {
  max-width: calc(#{$max-description-width} * .8);
  font-size: 1.2em;
}

.contents-details {
  height: 100%;
  max-width: $max-description-width;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.period {
  color: map-get($colors, 'yellow');
}
