@import 'variables';

#layout-container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../../assets/Contour.svg');
  background-size: cover;
}

#contents-container {
  z-index: 1;
  display: flex;
  background-color: map-get($colors, 'white');
  width: calc(100vw - 2 * #{$padding-horiz});
  height: calc(100vh - 2 * #{$padding-vert});
  border: 2px;
  border-style: solid;
  border-color: map-get($colors, 'black');
}

#nav-icon {
  z-index: 99;
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: calc(#{$padding-horiz} - 32.5px);

  &::-moz-focus-inner {
    outline: none;
  }

  &:focus {
    outline: none;
  }

  div {
    outline: none;
    transition: background-image 0.3s linear;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
  }
}

#nav-close {
  background-image: url('../../assets/nav-close.svg');
}

#nav-open {
  background-image: url('../../assets/nav-open.svg');
}
