@import 'variables';

$inner-shadow: inset 0px 0px 50px rgba(0,0,0,.03);

#layout-container {
  width: 100vw;
  height: 100vh;
}

#layout-container:before {
  content: "";
  position: fixed;
  width : 100%;
  height: 100%;
  background: url('../../assets/Contour.svg');
  background-size: cover;
  clip-path: polygon(join($points-outer, $points-inner));
  background-color: map-get($colors, 'white');
  z-index: 1;

  filter        : blur($blur);
  -moz-filter   : blur($blur);
  -webkit-filter: blur($blur);
  -o-filter     : blur($blur);
}

#border-top-horiz,
#border-bot-horiz,
#border-left-vert,
#border-right-vert {
  position: fixed;
  z-index: 3;
}

#border-top-horiz,
#border-left-vert {
  top: 24px;
  left: 48px;
}

#border-bot-horiz {
  bottom: 24px;
  left: 48px;
}

#border-right-vert {
  top: 24px;
  right: 48px;
}

#nav-icon {
  z-index: 99;
  height: 50px;
  width: 50px;
  border: none;
  background: none;
  cursor: pointer;
  position: fixed;
  top: calc((100vh/2) - 25px);
  left: calc(#{$padding-horiz} - 32.5px);

  &::-moz-focus-inner {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

#nav-icon-display {
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: map-get($colors, 'yellow');
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    background-color: map-get($colors, 'white');
    height: 2px;
    border-radius: 4px;
    right: 12.5px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  &:hover {
    box-shadow: $inner-shadow;
    -webkit-box-shadow: $inner-shadow;
    -moz-box-shadow: $inner-shadow;
    -o-box-shadow: $inner-shadow;
  }

  span:nth-child(1) {
    top: 17px;
    width: 18px;
  }
  span:nth-child(2) {
    top: 24px;
    width: 25px;
  }
  span:nth-child(3) {
    top: 31px;
    width: 12px;
  }
}

#nav-icon-display.open {
  span:nth-child(1), span:nth-child(3) {
    right: 8.5px;
    width: 25px;
  }
  span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px;
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 33px;
  }
}

.contents-container {
  z-index: 0;
  margin: 0 calc(#{$padding-horiz} + 2px);
}

@media screen and (max-width: 600px) {
  .contents-container {
    margin: 0;
  }

  #layout-container:before {
    content: none;
  }
  
  #nav-icon {
    top: 32px;
    right: 40px;
    left: auto;
  }

  #border-top-horiz,
  #border-bot-horiz,
  #border-left-vert,
  #border-right-vert {
    visibility: hidden;
  }
}
