@import 'variables';

#nav-container {
  margin: 0 calc(#{$padding-horiz} + 2px);
  display: flex;
  align-items: center;
}

#routes-container {
  display: flex;
  width: $max-description-width;
}

#routes {
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin-left: $main-margin-left;
  opacity: 0;

  a {
    font: $heading-bold-font;
    font-size: 36px;
    margin-top: $main-margin-between;
  }
}

#highlight {
  z-index: 0;
  position: fixed;
  background-color: map-get($colors, 'yellow');
}

#hero-preview {
  display: grid;
  place-content: center;
  height: 100%;
  width: calc(100vw * 0.66);
}