@import 'variables';

#nav-container {
  display: flex;
  align-items: center;
}

#routes {
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin-left: $main-margin-left;
  opacity: 0;

  a {
    font: $heading-bold-font;
    font-size: 36px;
    margin-top: $main-margin-between;
  }
}

#highlight {
  z-index: 0;
  position: fixed;
  background-color: map-get($colors, 'yellow');
}
