@import 'variables';

#splash-container {
  display: flex;
  align-items: center;
}

#headline-container {
  display: flex;
  flex-direction: column;
}

#heading {
  margin-left: $main-margin-left;
}

.description {
  font: $heading-bold-font;
  margin-top: $main-margin-between;
  max-width: $max-description-width;
  font-size: 24px;
  opacity: 0;
}
