@import 'variables';

#splash-container {
  display: flex;
  align-items: center;
}

#headline-container {
  display: flex;
  flex-direction: column;
}

#heading, .description, .splash-link {
  margin-left: $main-margin-left;
}

.description {
  font: $heading-bold-font;
  margin-top: $main-margin-between;
  max-width: $max-description-width;
  font-size: 1.5rem;
  opacity: 0;
}

#hero {
  display: grid;
  place-content: center;
  height: 100%;
  width: calc(100vw * 0.66);
}

.splash-link {
  font: $heading-bold-font;
  font-size: 1.2rem;
  margin-top: $main-margin-between;
  opacity: 0;
  width: fit-content;

  &:after {
    border-top: .5rem solid map-get($colors, 'yellow');
    z-index: -1;
    content: "";
    position: absolute;
    bottom: .5rem;
    right: -5px;
    left: -5px;
    transition: right .4s $bezier;
  }
}

#credit {
  font-size: .9rem;
  position: absolute;
  right: 64px;
  bottom: 36px;
  z-index: 2;

  a {
    position: relative;
  }

  a:after {
    content: "";
    border-top: .3rem solid map-get($colors, 'yellow');
    z-index: -1;
    position: absolute;
    bottom: .3rem;
    right: 0px;
    left: 0px;
    transition: right .4s $bezier;
  }
}

@media screen and (max-width: 600px) {
  #splash-container {
    flex-direction: column;
    align-items: start;
  }

  #headline-container {
    margin: 50px 32px 0;
    width: calc(100vw - 64px);
    justify-content: flex-start;
  }

  #heading, .description, .splash-link {
    margin-left: 0px;
  }

  .description {
    max-width: calc(100vw - 64px);
  }

  #hero {
    width: 100vw;
  }

  #credit {
    right: 32px;
    bottom: 24px;
  }
}
