@import 'variables';

.text-block, .text-list {
  display: flex;
  flex-direction: column;
  opacity: 0;
  margin-top: $main-margin-between;
  margin-left: $content-margin-left;
  width: $max-content-width;
}

.text-list-heading {
  font: $body-bold-font;
}

.text-list-contents {
  display: flex;
  flex-wrap: wrap;
  div {
    flex: 0 0 100%;
  }
}

.split {
  div {
    flex: 0 0 50%;
  }
}
