@import './components/styles/variables';

body {
  padding: 0;
  margin: 0;
  font: $body-reg-font;
  background-color: map-get($colors, 'white');
}

div {
  color: map-get($colors, 'black');
}

h1 {
  font: $heading-xbold-font;
  letter-spacing: $heading-kerning;
}

h2 {
  font: $heading-bold-font;
  letter-spacing: $heading-kerning;
}

h3 {
  font: $heading-reg-font;
}

p {
  line-height: 1.6em;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  background-color: map-get($colors, 'white');
  height: calc(100vh + 20vh);
  width: calc(100vw - 2 * #{$padding-horiz});
}

.section:nth-child(1) {
  height: calc(100vh - 2 * #{$padding-vert});
  padding-bottom: calc(10vh);
}

.section:last-child {
  height: calc(100vh);
  padding-bottom: 0px;
}