@use 'variables.module' as *;

$base: clamp(0px, 35vh, 400px);

$splash-margin-top: calc(#{$base} - #{$nav-height});
$developer-margin-top: calc(#{$splash-margin-top} - 180px);
$designer-margin-top: calc(#{$splash-margin-top} + 260px);
$magic-margin-top: $base;

#container {
  margin: 0 $content-horiz-padding;
}

#splash {
  display: flex;
  width: 100%;
  height: calc(100vh - #{$nav-height});
  max-height: 1024px;
}

#splash-text,
#work-header {
  width: 50%;

  h3 {
    line-height: 1em;
    margin-bottom: 24px;
  }

  h1 {
    line-height: 1em;
  }
}

#splash-text {
  margin-top: $splash-margin-top;
}

.background-text {
  z-index: -1;
  position: absolute;
  font: $background;
  color: map-get($colors, 'white');
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#developer {
  margin-top: $developer-margin-top;
  margin-left: 18%;
}

#designer {
  margin-top: $designer-margin-top;
  margin-left: -5%;
}

#magic {
  position: absolute;
  width: 300px;
  margin-top: $magic-margin-top;
  margin-left: 700px;
}

#work-container {
  margin: 240px 0;
}

#projects {
  margin-top: 64px;

  & > * {
    margin-top: 32px;
  }
}
